Api Spotify Yoni.ipynb
Appliances_prediction.ipynb
data fields.ipynb
Preprocessing example.ipynb
Regression .ipynb
Regression -Copy1.ipynb
spotify_scraping.ipynb
spotify_scraping-Copy1.ipynb
Untitled.ipynb
Untitled1.ipynb