Api Spotify Yoni.ipynb
Appliances_prediction.ipynb
data fields.ipynb
Preprocessing example.ipynb
Regression .ipynb
Regression -Copy1.ipynb
spotify_scraping.ipynb
spotify_scraping-Copy1.ipynb
Untitled.ipynb
Untitled1.ipynb


BasicCrawler (1) (1)-checkpoint.ipynb
Billboard_Scraping-checkpoint.ipynb
Classification-Popularity-checkpoint.ipynb
Predicting the Apparent Temperature _last-checkpoint.ipynb
Predicting the Apparent Temperature_LAST-checkpoint.ipynb
genre_classification-checkpoint.ipynb
get-good-track-id (1)-checkpoint.ipynb
get-good-track-id.ipynb
get-good-track-id-Copy1-checkpoint.ipynb
get-track-id-checkpoint.ipynb
BasicCrawler (1) (1).ipynb
Billboard_Scraping.ipynb
Classification-Popularity.ipynb
Multiclass ROC.png
Predicting the Apparent Temperature _last.ipynb
Predicting the Apparent Temperature_LAST.ipynb
dgenre_classification.ipynb
get-good-track-id-Copy1.ipynb
info_classification.txt
songs.csv
"\327\224\327\242\327\250\327\225\327\252.txt"